@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a asp-controller="Game" asp-action="Index">Games</a><br/>
        <a asp-controller="Group" asp-action="Index">Groups</a>
    </div>
</div>
